email=info@mylandmarktech.com
##always-auth=true
npm adduser --registry=http://35.153.169.217:8081/repository/nodeJs/ --always-auth
##//registry.npmjs.org/:_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
